
h1= title
h2
	em Hello Nested
p.
	sFormat is a JavaScript formatting plugin. Behind the scenes, it uses the command line formatter from jsbeautifier.org to format full or portions of JavaScript and JSON files.
	Features
	JavaScript formatting
	JSON formatting
	Full file formatting
	Selected text formatting
	Customizable settings for formatting options
	Customize per project with .jsbeautifyrc settings file 

input(type="password")
