
<header>
	<h1>BattleShips Mega Game</h1>


	<h1>Ammo {{game.ammo}}</h1>
</header>

<main>
	<div *ng-if="game.hasWon == true">
		<grid
			[grid]="game.grid"
			(select)="game.play($event)">
		</grid>
	</div>

	<div *ng-if="game.hasWon == true && game.ammo == 0">
		 <h1>You had won the game</h1>

		<button class="center btn" (click)="reset()">
			<h1> Play Again</h1>
		<button>
	</div>

	<div *ng-if="game.hasWon == false">
		<img class="center" src="img/lost.jpg" alt="">

		<button class="center btn" (click)="reset()">
			<h1> Play Again</h1>
		<button>
	</div>
</main>

<footer>
	made by: Marcin Kopacz, schizek.marcin@gmail.com
</footer>

